@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Yearbook Solid';  
    src: url('../fonts/YearbookSolid.woff2') format('woff2'),
         url('../fonts/Yearbook Solid.ttf') format('truetype'); /* Fallback */
    font-weight: normal;            
    font-style: normal;              
  }
body {
    background-color: #191919;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 600;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.logoNav {
    height: 80px;
    width: auto;
    padding: 10px;
    margin-left: 40px;
    transition: transform 0.3s ease;
}

.logoNav:hover {
    transform: scale(1.05);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
 
}

.hero h1 {
    font-family: 'Yearbook Solid', sans-serif; 
    font-size: 50px;
    text-align: center ;
}
.bg-image {
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/foto-grupal.png');
    filter: blur(.45px);
}

nav, ul {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6%;
    background: linear-gradient(180deg, rgba(25, 25, 25, 0.95) 0%, rgba(25, 25, 25, 0.91) 20%, rgba(25, 25, 25, 0.85) 40%, rgba(25, 25, 25, 0.78) 60%, rgba(25, 25, 25, 0.7) 80%, rgba(99, 102, 99, 1.0) 98%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-family: "Inter", sans-serif;
    color: white;
    padding-right: 4.5%;
    overflow-x: hidden;
    list-style-type: none;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #191919;
    z-index: 1001;

}

a {
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: bold;

}

nav li:hover {
    transform: scale(1.1);
}
a:hover {
    color: rgb(140, 247, 255);
    
}
li {
    transition: transform 0.3s ease;
}




.about {
    width: 80%;
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    font-weight: 450;
    text-align: center;
    flex-direction: column;
}

.about h1 {
    font-family: 'Yearbook Solid', sans-serif; 
    font-size: 40px;
}

.bottom {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
footer a:hover {

    transform: scale(1.05);
}

footer a:hover {
transition: transform 0.3s ease;
}


.login {
background-color: rgb(0, 100, 180);
padding: 10px;
border-radius: 15px;
}

.login:hover{
    background-color: rgb(80, 176, 255);
    color: white;
    font-weight: bold;
    transform: translateY(-2px);
    cursor: pointer;    
}
.rights {
    text-align: center;
}
/*MEDIA QUERIES PARA EL NAV Y TITULO EN MOVIL*/
@media (max-width: 768px) {
    /* Reducir el tamaño del título */
    .title1 {
        font-size: 1.5rem;
        width: 70%;
    }

    /* Reducir el tamaño de la barra de navegación */
    nav, ul {
        height: 8vh;
        gap: 4%;
        padding-right: 2%;
        width: 120vw;
        position: relative;
        left: -8%;
    }

    a {
        font-size: 0.8rem;
    }

    .logoNav {
        height: 50px;
        position: relative;
        left: -2%;
    }


    /* Ajustar el botón de login */
    a.login {
        padding: 3px 3px;
        border-radius: 10px;
        gap: 1%;
        background-color: transparent;
    }
    iframe {
        width: 100%;
        height: 230px;
        margin-bottom: 50px;
    }
}

@media (max-width: 568px) {
    a {
        font-size: 0.7rem;
    }

    .login {
        padding: 4px 8px;

        border-radius: 8px;
    }
}